@import 'variables';
@import 'font';
@import 'navbar';
@import 'home';
@import 'detail';
@import 'upload';
@import 'favorite';

@mixin box-shadow($bs-config) {
  box-shadow: $bs-config;
  -webkit-box-shadow: $bs-config;
  -moz-box-shadow: $bs-config;
}

@include navbar;
@include upload;

body,
html {
  margin: 0;
  font-family: sans-serif;
}

main {
  min-height: calc(100vh - 8em - 5rem);
}

* {
  box-sizing: border-box;
}

@include home;
@include detail;
@include favorite;

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.C-container-full {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh
}

.C-card {
  @include box-shadow($bs-dark-opacity3);
  border-radius: $br-8;
}

.C-link {
  display: inline-flex;
  align-items: center;
  height: 44px;
  min-width: 44px;
  text-decoration: none;
  font-weight: 600;
  color: $color-main;

  &:hover {
    color: $color-main-darker;
  }
}

.C-btn-wrapper {
  height: calc(44px + .8rem);
  display: flex;
}

.C-btn {
  all: unset;
  width: 50%;
  height: 44px;
  margin: auto;
  text-align: center;
  border-radius: $br-8;
  color: $color-white;
  background-color: $color-main;

  &:hover {
    background-color: $color-main-darker;
  }

  &:active,
  &:focus {
    @include box-shadow($bs-main);
    border: 2px solid $color-main-brighter;
  }
}

.C-link-btn {
  padding: 0 .7rem;
  border-radius: $br-8;
  background-color: $color-white;
  border: 2px solid $color-main;

  &:hover {
    color: $color-white !important;
    background-color: $color-main-darker !important;
  }
}

.C-link-blue {
  color: $color-white !important;
  background-color: $color-main !important;
}

.C-form-title {
  margin: -1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  color: $color-white;
  background-color: $color-main;
  border-top-left-radius: $br-8;
  border-top-right-radius: $br-8;
}

.C-input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: .8em;
  padding-bottom: .4em;
  border-bottom: 2px solid $color-black;

  &:focus {
    border-bottom-color: $color-main;
  }
}

.col-lg-6 {
  flex: unset !important;
}

.C-d-flex {
  display: flex;
  padding: 0 9%;
  gap: 3rem;
}

.C-logo-link {
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
}

.C-logo-img {
  height: 85%;
  object-fit: contain;
}

.C-login {
  .C-password-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  .C-show-password-btn {
    background-color: unset;
    border: unset;
    position: absolute;
    margin-right: .6rem;
  }

  .C-show-password-img {
    height: 44px;
    padding: 7px;
  }
}

.C-animal-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 23%);
  gap: 1rem;
}

.C-animal-img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
  background-color: $color-black;
}

.C-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width:992px) {
  @include navbar-lg;
  @include upload-lg;

  .C-logo-link {
    margin: 0;
    margin-left: 1em !important;
  }

  .C-d-flex {
    padding: unset;
    flex-direction: column-reverse;

    .C-upload-data.C-card {
      border-radius: unset;
    }
  }

  .C-animal-wrapper {
    grid-template-columns: repeat(auto-fit, 96%);
  }
}