$color-main: #408bee;
$color-main-darker: #2572d6;
$color-main-brighter: #63a3f7;

$color-white: #fafafa;
$color-white-darker: #dfdfdf;

$color-black: #111111;

$color-error: #e42323;
$color-warning: #f56816;

$bs-dark-opacity3: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
$bs-dark-opacity3-inset: 0px 0px 12px 1px rgba(0, 0, 0, 0.3) inset;
$bs-main: 0 0 0 0.25rem #408bee;

$br-8: .8rem;
