$color-main: #0066FF;
$color-main-darker: #0f4994;
$color-main-brighter: #68a4f3;

$color-white: #fafafa;
$color-white-darker: #dfdfdf;

$color-black: #111111;

$color-error: #e42323;
$color-warning: #f56816;

$bs-dark-opacity3: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
$bs-dark-opacity3-inset: 0px 0px 12px 1px rgba(0, 0, 0, 0.3) inset;
$bs-main: 0 0 0 0.25rem #0066FF;

$br-8: .8rem;
